<div class="d-flex justify-content-between m-0 p-2">
    <div class=" ">
        <span style="font-size:20px;">Lorry Receipt</span>

    </div>
</div>

<hr class="pt-0 mt-0" />

<div class="d-flex ms-2 d-flex-column">

    <div class="d-flex-width">
        <!-- // <dss-input label="Vehicle No" name="vehno" type="text" [(ngModel)]="entity.vehicleNo" /> -->
        <label for="search" [ngClass]="{'text-danger': !entity.vehicleNo }">
            Vehicle No
        </label>
        <div class="search-box">
            <input type="text" style="width: 100%;" id="search" class="form-control"
                placeholder=" Enter Last 4  Digits " name="Vehiclenumb" [(ngModel)]="entity.vehicleNo" required
                autocomplete="off" (input)="entity.vehicleNo = entity.vehicleNo.toUpperCase()">

            <button type="button" class="btn btn-light" tabindex="-1" (click)="getVehicles()">
                <i class="bi bi-arrow-return-left"></i>
            </button>
        </div>
    </div>
    <div class="gapInputFields" style="width: 30%;">

        <label for="">Aknowledgment Type</label>
        <select class="form-select select-wrapper" name="akntp" [(ngModel)]="referance.aknowlType"
            (change)="showgrid()">
            <option [value]="0">Lorry Receipt</option>
            <option [value]="1">Lorry Receipt With Bilty</option>

        </select>
    </div>

    <div class="gapInputFields">
        <button class="btn btn-outline-primary" style="margin-top: 21px;" type="button" (click)="Listshow()"><i
                class="fa fa-eye me-1"></i> show</button>
    </div>
</div>
<hr>
<div class="card-body">
    <ag-grid-angular #agGrid class="ag-theme-balham heightMasterPage1" [rowData]="list" [columnDefs]="columns"
        [paginationAutoPageSize]="true" [defaultColDef]="defaultColDef" [pagination]="true"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div>

<!-- Lorry Receipt Chargeable -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="d-flex">
                        <div class="d-flex-width">
                            <div class="mb-3">
                                <label for="lrno" class="form-label">L.R.No</label>
                                <input type="text" class="form-control" id="lrno" [(ngModel)]="entity.memoNo"
                                    name="lrno" disabled="true">
                            </div>
                        </div>
                        <div class="gapInputFields">
                            <div class="mb-3">
                                <label for="meDt" class="form-label">Date</label>
                                <input type="date" class="form-control" id="meDt" [(ngModel)]="entity.dt" name="meDt"
                                    disabled="true">
                            </div>
                        </div>
                        <div class="gapInputFields">
                            <div class="mb-3">
                                <label for="freight" class="form-label">Total Freight</label>
                                <input type="text" class="form-control" id="freight"
                                    [(ngModel)]="entity.vehTotalFreight" digitOnly CurrencyMask fraction="2"
                                    name="freight" disabled="true">
                            </div>
                        </div>
                        <div class="gapInputFields">
                            <div class="mb-3">
                                <label for="weight" class="form-label">Total Weight</label>
                                <input type="text" class="form-control" id="weight" [(ngModel)]="entity.weight"
                                    digitOnly CurrencyMask fraction="2" name="weight" disabled="true">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="d-flex-width">
                            <div class="mb-3">
                                <label for="advance" class="form-label">Advance Amount</label>
                                <input type="text" class="form-control" id="advance" [(ngModel)]="entity.vehAdvAmount"
                                    digitOnly CurrencyMask fraction="2" name="advance" disabled="true">
                            </div>
                        </div>
                        <div class="gapInputFields">
                            <div class="mb-3">
                                <label for="left" class="form-label">Left Amount</label>
                                <input type="text" class="form-control" id="left" [(ngModel)]="entity.vehLeftAmount"
                                    digitOnly CurrencyMask fraction="2" name="left" disabled="true">
                            </div>
                        </div>
                       
                    </div>
                    <hr>
                    <div class="container mt-3">

                        <div class="d-flex">
                            <div class="d-flex-width">
                                <label for="cnfDt" class="form-label"
                                    [ngClass]="{'text-danger': !entity.confDate }">Date</label>
                                <input type="date" class="form-control" id="cnfDt" [(ngModel)]="entity.confDate"
                                    required name="cnfDt">
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex-width">
                                <label>Confirmation Account</label>
                                <app-ngselect apiUrl="Account/getAcclistbyMgCode" bindLabel="accName"
                                    bindValue="accCode" name="recpayeeaccount" [(ngModel)]="entity.confAcc"
                                    [defaultProperty]="entity.confirmAccNavigation"
                                    [apiParams]="{mgCode:'3, 4, 25'}"></app-ngselect>

                            </div>
                        </div>
                        <div class="d-flex">

                            <div class="d-flex-width">
                                <label for="cnfDt" class="form-label"
                                    [ngClass]="{'text-danger': !entity.confDate }">Confirmation Narration</label>
                                <input type="text" class="form-control" id="cnfnar" [(ngModel)]="entity.confNar"
                                     name="cnfnar">
                            </div>
                        </div>


                    </div>
                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="save()"
                    [disabled]="isAddButtonDisabled()">Save</button>
            </div>
        </div>
    </div>
</div>


<!-- Lorry Receipt Direct -->
<!-- <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="d-flex">
                        <div class="d-flex-width">
                            <div class="mb-3">
                                <label for="lrno" class="form-label">L.R.No</label>
                                <input type="text" class="form-control" id="lrno" [(ngModel)]="entity.vchNo" name="lrno"
                                    disabled="true">
                            </div>
                        </div>
                        <div class="gapInputFields">
                            <div class="mb-3">
                                <label for="meDt" class="form-label">Date</label>
                                <input type="date" class="form-control" id="meDt" [(ngModel)]="entity.vchDate"
                                    name="meDt" disabled="true">
                            </div>
                        </div>


                        <div class="gapInputFields">
                            <div class="mb-3">
                                <label for="weight" class="form-label">Total Weight</label>
                                <input type="text" class="form-control" id="weight" [(ngModel)]="entity.totalWeight"
                                    digitOnly CurrencyMask fraction="2" name="weight" disabled="true">
                            </div>
                        </div>
                        <div class="gapInputFields">
                            <div class="mb-3">
                                <label for="fperrt" class="form-label">Freight per Rate</label>
                                <input type="text" class="form-control" id="fperrt" [(ngModel)]="entity.frtPerWeight"
                                    digitOnly CurrencyMask fraction="2" name="fperrt" disabled="true">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="d-flex-width">
                            <div class="mb-3">
                                <label for="advance" class="form-label">Advance Amount</label>
                                <input type="text" class="form-control" id="advance" [(ngModel)]="entity.totalAdvAmt"
                                    digitOnly CurrencyMask fraction="2" name="advance" disabled="true">
                            </div>
                        </div>
                        <div class="gapInputFields">
                            <div class="mb-3">
                                <label for="freight" class="form-label">Total Freight</label>
                                <input type="text" class="form-control" id="freight" [(ngModel)]="entity.totalFreightAmt"
                                    digitOnly CurrencyMask fraction="2" name="freight" disabled="true">
                            </div>
                        </div>
                        <div class="gapInputFields">
                            <div class="mb-3">
                                <label for="left" class="form-label">Left Amount</label>
                                <input type="text" class="form-control" id="left" [(ngModel)]="entity.leftAmt" digitOnly
                                    CurrencyMask fraction="2" name="left" disabled="true">
                            </div>
                        </div>
                        
                    </div>
                    
                    <hr>
                    <div class="container mt-3">

                        <div class="d-flex">
                            <div class="d-flex-width">
                                <label for="cnfDt" class="form-label"
                                    [ngClass]="{'text-danger': !entity.confDate }">Date</label>
                                <input type="date" class="form-control" id="cnfDt" [(ngModel)]="entity.confDate"
                                    required name="cnfDt">
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex-width">
                                <label>Confirmation Account</label>
                                <app-ngselect apiUrl="Account/getAcclistbyMgCode" bindLabel="accName"
                                    bindValue="accCode" name="recpayeeaccount" [(ngModel)]="entity.confirmAcc"
                                    [defaultProperty]="entity.confirmAccNavigation"
                                    [apiParams]="{mgCode:'3, 4, 25'}"></app-ngselect>

                            </div>
                        </div>
                        <div class="d-flex">

                            <div class="d-flex-width">
                                <label for="cnfDt" class="form-label"
                                    [ngClass]="{'text-danger': !entity.confDate }">Confirmation Narration</label>
                                <input type="text" class="form-control" id="cnfnar" [(ngModel)]="entity.confirmNarr"
                                     name="cnfnar">
                            </div>
                        </div>


                    </div>
                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="save()"
                    [disabled]="isAddButtonDisabled()">Save</button>
            </div>
        </div>
    </div>
</div> -->

<div class="modal fade" id="vehiclemodal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Vehicle list</h5>
            </div>
            <div class="modal-body p-0" style="height: calc(100vh - 250px);">
                <table class="table border table-hover">
                    <thead>
                        <tr>
                            <th style="width: 20px;">#</th>
                            <th scope="col">Vehicle Numbers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let v of reference;let i=index;" (click)="onRowClick(v)">
                            <td style="width: 5rem; text-align: center;">{{ i +
                                1 }}</td>
                            <td>{{ v.vehicleNo }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>