.pagination {
    display: flex;
    justify-content: end;
    margin-top: 0rem;
    margin-right:1rem;
    // background-color: #b9b9b9;
    padding: 0.5rem 0rem;
    margin: 6px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 6px;
}
  
  .pagination button {
    margin: 0 0.2rem;
    padding: 0.2rem 0.5rem;
    border: none;
    background-color: #00509d;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
  }