<div id="main-wrapper" class="container-fluid p-0">
  <div class="d-flex align-items-center justify-content-center forgot-password-container">
    <div class="row forgot-password-card w-100 d-flex align-items-center justify-content-center">
      <!-- Form Section -->
      <form #Resetpswform="ngForm" class="px-4 py-3">
        <h2 class="text-center mb-4">Reset Password</h2>
        <p class="text-muted text-center mb-4">
          Enter your email address <b>OR</b> registered mobile number <b>OR</b> username below, and we'll send you an
          email with instructions.
        </p>

        <!-- Input Field -->
        <div class="input-group input-group-lg mb-4">
          <span class="input-group-text">
            <i class="fa-solid fa-user"></i>
          </span>
          <input type="text" class="form-control" name="pswd" autocomplete="off"
            placeholder="Enter your email/username/mobile number" [(ngModel)]="entity.username" required />
        </div>

        <!-- Submit Button -->
        <div class="d-grid">
          <button type="submit" class="btn btn-dark rounded-pill" (click)="Submit()">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>