<ng-container>
  <c-container [fluid]="true" class="border-bottom px-4 backgroundframe">
    <button [cSidebarToggle]="sidebarId" cHeaderToggler class="btn" toggle="visible" style="margin-inline-start: -14px;"
      aria-label="Toggle sidebar navigation">
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>
    <c-header-nav class="d-flex align-items-center w-auto ms-4">
      <p class="p-0 m-0" style="font-size: 17px;">{{provider.companyinfo.company.firmName}}
        ({{provider.companyinfo.company.divId}})</p>
    </c-header-nav>

    <c-header-nav class="d-none d-md-flex ms-auto ">
      <a cNavLink>
        <svg cIcon class="my-1" name="cilBell" size="lg"></svg>
      </a>
      <a cNavLink>
        <svg cIcon class="my-1" name="cilList" size="lg"></svg>
      </a>
      <a cNavLink>
        <svg cIcon class="my-1" name="cilEnvelopeOpen" size="lg"></svg>
      </a>
    </c-header-nav>

    <c-header-nav class="ms-auto ms-md-0">
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
    </c-header-nav>

    <c-header-nav class="mx-0">
      <button class="btn btn-clear border-0" (click)="logout()">
        <svg cIcon class=" ms-2" name="cilAccountLogout" style="transform: scaleX(-1);"></svg>
      </button>
    </c-header-nav>
  </c-container>

</ng-container>