<div class="mastersHeading m-0">
    <div class="row m-0 pt-2">
        <div class="col col-sm-6">
            <div class="d-flex justify-content-start align-items-center">
                <span style="font-size:20px;">Setting</span>
            </div>
        </div>
        <div class="col-sm-6 text-end">
             <div class="d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-outline-success btn-sm me-1" (click)="submit()"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-floppy-fill" viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z" />
                    <path
                        d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z" />
                </svg></button>
            <button class="btn btn-outline-danger btn-sm" (click)="close()"><svg xmlns="http://www.w3.org/2000/svg"
                    width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                    <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708">
                    </path>
                </svg></button>
        </div>
    </div>
</div>
<hr />
<div class="row ms-3 me-3">
    <table class="table table-bordered table-sm">
        <thead class="divcard text-white">
            <tr>
                <td class="col1 bg-secondary text-white">
                    <h6>Description</h6>
                </td>
                <td class="col2 bg-secondary text-white">
                    <h6>Value</h6>
                </td>
            </tr>
        </thead>
        <tbody id="setting" class="heightMasterPage">
            <tr *ngFor="let item of list">
                <td>{{ item.setDesc }}</td>
                <td><ng-container [ngSwitch]="item.setCode">
                        <ng-container *ngSwitchCase="101">
                            <app-ngselect apiUrl="Account/GetAcclistByMgbs" bindLabel="accName" bindValue="accCode"
                                name="account" [(ngModel)]="item.setValue"  [defaultProperty]="item.accCodeNavigation"
                                [apiParams]="{mgbs:'3'}" [applyMargins]="false">
                            </app-ngselect>
                        </ng-container>
                    </ng-container>
                    <ng-container [ngSwitch]="item.setCode">
                        <ng-container *ngSwitchCase="102">
                            <app-ngselect apiUrl="Account/GetAcclistByMgbs" bindLabel="accName" bindValue="accCode"
                                name="account1" [(ngModel)]="item.setValue"  [defaultProperty]="item.accCodeNavigation"
                                [apiParams]="{mgbs:'4'}" [applyMargins]="false">
                            </app-ngselect>
                        </ng-container>
                    </ng-container>

                    <ng-container [ngSwitch]="item.setCode">
                        <ng-container *ngSwitchCase="103">
                           <app-ngselect apiUrl="SubGroup/getListbyMgcode" bindLabel="sgName" bindValue="sgCode"
                                name="group" [(ngModel)]="item.setValue"  [defaultProperty]="item.sgCodeNavigation"
                                [apiParams]="{mgcode:'14'}" [applyMargins]="false">
                            </app-ngselect>
                        </ng-container>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</div>