
<form *ngIf="isShow">
    <div class="card d-flex">
    
        <div class="card-header mt-1">
            <div class="row w-100 resposiveHeader">
                <div class="col-sm-3 d-flex">
                    <div class="heading">
                      {{ReportTitle}}
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-center">
                    <div class="px-1 m-0  d-flex align-items-center">
                        <div class="input-group-sm d-flex">
                            <button class="btn  border-0 " type="button" (click)="preno()">
                                <!-- <i class="fa fa-angle-left"></i> -->
                                <i class="bi bi-chevron-compact-left "></i>
                            </button>
                            <input type="text" class="form-control2 text-center border-0" name="currentPageNo"
                                aria-label="Preview" [(ngModel)]="ref.currentPage" (input)="getCurrentPage()">
    
                            <span style="font-size: 2em;" class="px-2 m-auto fw-bold"> /  </span>
    
                            <input type="text" class="form-control2 text-center border-0" name="totalnumber" value="50"
                                [(ngModel)]="ref.totalnumber" disabled aria-label="Next">
                            <button class="btn border-0 " type="button" (click)="nextno()">
                                <!-- <i class="fa fa-angle-right"></i> -->
                                <i class="bi bi-chevron-compact-right"></i>
                            </button>
    
                        </div>
                    </div>
                    <div class="px-1 m-0">
                        <div class="input-group input-group-sm d-flex">
                            <button class="btn text-secondary" (click)="minzoom()">
                                <!-- <i class="fa fa-minus" aria-hidden="true"></i> -->
                                <i class="bi bi-dash"></i>
                            </button>
    
                            <input type="text" class="form-control2 border-0 text-center " id="zoom" name="zoom"
                                [(ngModel)]="ref.zoom" value="100" aria-label="Search" (input)="zoom()"> <span
                                class="mt-1 ms-1">%</span>
                            <button class="btn border-0 text-secondary" (click)="maxzoom()">
                                <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
                                <i class="bi bi-plus"></i>
                            </button>
    
                        </div>
                    </div>
                    <div class="px-1 m-0">
                        <div class="input-group input-group-sm d-flex">
                            <input type="text" class="form-control border-0" name="search" [(ngModel)]="ref.searchtext"
                                placeholder="Search..." aria-label="Search" (input)="search(ref.searchtext)">
                        </div>
                    </div>
                    <!-- (click)="searchDown()" -->
                </div>
                <div class="col-sm-3 d-flex justify-content-end exportBtns">
                    <div class="d-inline-block m-0">
                        <div class="input-group ">
                          <div class="dropdown">
                                <button class="btn text-secondary" id="export1" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class=" bi bi-box-arrow-down px-1"></i>
                                </button>
                                <ul class="dropdown-menu " aria-labelledby="export1">
                                    <li class="dropdown-item h-25" style="cursor: pointer;" (click)="saveAsPdf()">
                                        <i class="bi bi-download"></i> PDF
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider p-0">
                                    </li>
                                    <li class="dropdown-item  " style="cursor: pointer;" (click)="exportFunc('excel')">
                                        <i class="bi bi-file-spreadsheet-fill"></i> <span class="px-2">EXCEL</span>
                                    </li>
                                    <li class="dropdown-item " style="cursor: pointer;" (click)="exportFunc('word')">
                                        <i class="bi bi-file-word"></i><span class="px-2">WORD</span>
                                    </li>
                                    <li class="dropdown-item " style="cursor: pointer;" (click)="exportFunc('html')">
                                        <i class="bi bi-filetype-html"></i> <span class="px-2">HTML</span>
                                    </li>
                                    <li class="dropdown-item" style="cursor: pointer;" (click)="exportFunc('image')">
                                        <i class="bi bi-image-fill"></i> <span class="px-2">IMAGE</span>
                                    </li>
    
                                    <!-- <li class="dropdown-item d-flex">
                                        <i class="bi bi-filetype-csv"></i><span class="px-2">CSV</span>
                                    </li>
                                    <li class="dropdown-item d-flex">
                                        <i class="bi bi-filetype-xml"></i> <span class="px-2"> XML</span>
                                    </li>
                                    <li class="dropdown-item d-flex">
                                        <i class="bi bi-file-earmark-ppt"></i><span class="px-2">  POWER POINT</span>
                                    </li> -->
    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="px-1 m-0">
                        <div class="input-group">
                            <button class="btn text-secondary" (click)="print()" [disabled]="!ref.isPdfLoaded">
                                <i class="bi bi-printer"></i>
                            </button>
    
                        </div>
                    </div>
                    <div class="px-1 m-0">
                        <div class="input-group">
                            <button class="btn text-secondary" data-bs-toggle="modal"
                            data-bs-target="#emailto">
                            <i class="bi bi-envelope px-1"></i>
                        </button>
                        </div>
                    </div>
                    <div class="px-1 m-0">
                        <div class="input-group">
                            <button class="btn text-secondary" data-bs-toggle="modal"
                            data-bs-target="#whatsappto">
                            <i class="bi bi-whatsapp px-1"></i>
                        </button>
                        </div>
                    </div>
                    <!-- <div class=" px-1 pt-1 m-0 ">
                        <div class="dropdown">
                            <button class="btn text-secondary pt-1" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li class=" d-flex" style="cursor: pointer;">
                                    <button class="btn text-secondary pt-1" data-bs-toggle="modal"
                                        data-bs-target="#emailto">
                                        <i class="bi bi-envelope pt-1 px-1"></i>E-mail
                                    </button>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li class=" d-flex"style="cursor: pointer;">
                                    <button class="btn text-secondary pt-1" data-bs-toggle="modal"
                                        data-bs-target="#whatsappto">
                                        <i class="bi bi-whatsapp pt-1 px-1"></i>Whatsapp
                                    </button>
                                </li>
    
                            </ul>
                        </div>
                    </div> -->
                    <div class=" px-1 m-0">
                        <div class="input-group">
                            <button class="btn text-secondary" (click)="closeForm()">
                                <i class="bi bi-x-circle"></i>
                            </button>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" style="z-index: 1;">
            <!-- <pdf-viewer [src]="pdfSrc" #pdfViewer [(page)]="ref.currentPage" [zoom]="ref.zoomnumber" [stick-to-page]="true"
                [original-size]="true" [show-all]="true" [render-text]="true"
                (after-load-complete)="afterLoadComplete($event)" (after-load-complete)="isLoaded($event)"
                style="width: 100%;"></pdf-viewer> -->
    
                <pdf-viewer [src]="pdfSrc" #pdfViewer [(page)]="ref.currentPage" [zoom]="ref.zoomnumber"
                [original-size]="true" [show-all]="true" [render-text]="true"
                (after-load-complete)="afterLoadComplete($event)" (after-load-complete)="isLoaded($event)"
                style="width: 100%;"></pdf-viewer>
    
    
        </div>
    </div>
    </form>
    <!-- Button Email modal -->
    <!-- Modal -->
    <div class="modal fade" id="emailto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header modal_head">
                    <div class="header_modal">
                        E-mail To:
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="px-4 py-3" #mailModal="ngForm">
    
                        <div class="col-sm-12 mb-3">
                            <div class="col-sm-12">
                                <div class="input-group p-0">
                                    <div class="col-sm-10">
                                        <label for="mailAddress" class="form-label">Mail To:</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-select" name="mailfiletype" [(ngModel)]="mail.fileType"
                                            aria-label="Select Attach Type">
                                            <option value="PDF">PDF</option>
                                            <option value="EXCEL">EXCEL</option>
                                            <option value="WORD">WORD</option>
                                            <option value="IMAGE">IMAGE</option>
                                        </select>
                                    </div>
                                </div>
                                <input type="email" class="form-control border-1" id="exampleDropdownFormEmail1"
                                    name="mailAddress" [(ngModel)]="mail.mailAddress" #email="ngModel"
                                    [ngClass]="{'is-invalid':email.errors?.['required']}" required
                                    placeholder="email@example.com">
    
                            </div>
                        </div>
    
                        <div class="col-sm-12">
    
                            <div class="input-group">
                                <div class="col-sm-12">
                                    <label for="mailcc" class="form-label">CC:</label>
                                </div>
                                <input type="text" class="form-control border-1" id="cc" name="mailcc"
                                    [(ngModel)]="mail.ccAddress">
    
                            </div>
    
    
                        </div>
                        <div class="col-sm-12">
    
                            <div class="input-group">
                                <div class="col-sm-12">
                                    <label for="text" class="form-label">Subject:</label>
                                </div>
                                <input type="text" class="form-control border-1" id="mailSubject" name="mailSubject"
                                    [(ngModel)]="mail.subject" required>
    
                            </div>
    
    
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <div>
                                    <label for="body" class="form-label">Body:</label>
    
                                </div>
                                <!-- <quill-editor [styles]="{height: '200px'}" name="tandc"
                                    [(ngModel)]="mail.body"></quill-editor>
     -->
                            </div>
                        </div>
    
    
                    </form>
    
                </div>
                <div class="modal-footer p-0">
                    <button type="button" class="btn btn-success" [disabled]="!mailModal.valid"
                        (click)="mailFunc()">Send</button>
                </div>
            </div>
        </div>
    </div>
    
     
    <div class="modal fade" id="whatsappto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered border-0">
            <div class="modal-content">
                <div class="modal-header modal_head">
                    <div class="header_modal">
                        Whatsapp To:
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="px-4 py-3" #wappModal="ngForm">
                        <div class="mb-3">
                            <label for="whatsapp" class="form-label">Whatsapp Number:</label>
                            <input type="text" class="form-control border-1" [(ngModel)]="wapp.mobileno" id="whatsapp"
                                name="whatsapp" #whatsapp="ngModel" [ngClass]="{'is-invalid':whatsapp.errors?.['required']}"
                                maxlength="10" minlength="10" required placeholder="Enter number">
                        </div>
                    </form>
    
                </div>
                <div class="modal-footer p-0">
                    <button type="button" class="btn btn-success" [disabled]="!wappModal.valid"
                        (click)="wappFunc()">Send</button>
                </div>
            </div>
        </div>
    </div>